<!--
  Generated template for the RoutesinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>General Information</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding (ionScroll)="onScroll($event)">
  
  <div class="row bg-semi-transparent" #searchbox>
    <ion-grid>
      <!-- <ion-row>
        <ion-col text-center>
          <h1 class="text-white text-3x" color="primary">GENERAL INFORMATION</h1>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col text-center>
          <h1 class="text-white text-2x" color="primary">Bus Routes</h1>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-center>
          <ion-item class="custom">
            <ion-label>Route Name/ID</ion-label>
            <ion-select [(ngModel)]="selecteRouteId">
              <ion-option *ngFor="let route of routes" [value]="route.routeId">{{route.routeLongName}} &raquo; {{route.routeId}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-center>
          <ion-item class="custom">
            <ion-label>Date</ion-label>
            <ion-select [(ngModel)]="selectedDateOption">
              <ion-option *ngFor="let item of dateOptions" [value]="item">{{item.label}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col text-center>
          <button (click)="onSearchClicked()" ion-button icon-right full class="bg-primary text-white">
            Search
            <ion-icon name="check"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="row bg-semi-transparent margin-top" *ngIf="routeData?.directionOneTrip!=null">
    <ion-grid class="padding-0 margin-top">
        <ion-row>
          
            <ion-col col-12 class="text-white text-2x">
                Direction #1
            </ion-col>
        </ion-row>

      <ion-row>
          <ion-col col-12 class="text-white">
            {{routeData.directionOneTrip.routeLongName}} &raquo; {{routeData.directionOneTrip.tripHeadsign}}
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2 class="bg-orange">
              
        </ion-col>
              
        <ion-col col-10 class="bg-orange">
          <span class="text-white size-2x" color="primary">Stop Name</span>
        </ion-col>

      </ion-row>
      <ion-row>

        <ion-col col-12 class="padding-0">
            <div *ngIf="routeData?.directionOneTrip.stops!=null" class="bg-semi-transparent">
                <ion-row class="stops" *ngFor="let stop of routeData?.directionOneTrip.stops">
                    <ion-col col-1>
                    </ion-col>
    
                    <ion-col col-1 class="stop-container">
                      <div class="pointblock"></div>
                    </ion-col>
    
                    <ion-col col-10>
                      <span class="text-white size-2x" color="primary" *ngIf="stop.stopName!=null" (click)="showConfrimation(stop)">{{stop.stopName}}</span>
                      <span class="text-white size-2x" color="primary" *ngIf="stop.stopName==null">N/A</span>
                    </ion-col>
    
    
                </ion-row>
              
          </div>

          <ion-row *ngIf="routeData?.directionOneTrip.stops==null">
            <ion-col col-12 class="bg-white">
              <span class="text-orange size-2x" color="primary">Stop Not Available</span>
            </ion-col>
          </ion-row>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <div class="row bg-semi-transparent margin-top" *ngIf="routeData?.directionTwoTrip!=null">
      <ion-grid class="padding-0 margin-top">
          <ion-row>
            
              <ion-col col-12 class="text-white text-2x">
                  Direction #2
              </ion-col>
          </ion-row>
  
        <ion-row>
            <ion-col col-12 class="text-white">
              {{routeData.directionTwoTrip.routeId}} / {{routeData.directionTwoTrip.tripHeadsign}}
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2 class="bg-orange">
                
          </ion-col>
                
          <ion-col col-4 class="bg-orange">
            <span class="text-white size-2x" color="primary">Stop Code</span>
          </ion-col>
  
          <ion-col col-6 class="bg-orange">
            <span class="text-white size-2x" color="primary">Stop Name</span>
          </ion-col>
  
        </ion-row>
        <ion-row>
  
          <ion-col col-12 class="padding-0">
              <div *ngIf="routeData?.directionOneTrip.stops!=null" class="bg-semi-transparent">
                  <ion-row class="stops" *ngFor="let stop of routeData?.directionOneTrip.stops">
                      <ion-col col-1>
                      </ion-col>
      
                      <ion-col col-1 class="stop-container">
                        <div class="pointblock"></div>
                      </ion-col>
      
                      <ion-col col-10>
                        <span class="text-white size-2x" color="primary" *ngIf="stop.stopName!=null" (click)="showConfrimation(stop)">{{stop.stopName}}</span>
                        <span class="text-white size-2x" color="primary" *ngIf="stop.stopName==null">N/A</span>
                      </ion-col>
      
      
                  </ion-row>
                
            </div>
  
            <ion-row *ngIf="routeData?.directionOneTrip.stops==null">
              <ion-col col-12 class="bg-white">
                <span class="text-orange size-2x" color="primary">Stop Not Available</span>
              </ion-col>
            </ion-row>
          </ion-col>
  
        </ion-row>
      </ion-grid>
    </div>

</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row class="padding-0 margin-top">

      <ion-col col-12 class="padding-right-1">
        <button ion-button full large icon-right (click)="goBackClicked()" class="bg-orange text-white">
          BACK
        </button>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-footer>
