page-datepicker {
  .content{
    background: #fff;
    margin-left: 8%;
    margin-right: 8%;
    width: 84%;
    max-height: 50%;
    display: block;
    overflow: scroll;

  }

  .header{
    margin-top: 8%;
    margin-left: 8%;
    margin-right: 8%;
    width: 84%;
  }

  .footer{
    background: #fff;
    margin-top: 0;
    margin-left: 8%;
    margin-right: 8%;
    width: 84%;
  }

}
