page-home {
  ion-content {
    .title{
      color: $primary-text-color;
      text-align:center;
      font-size:1em;

    }

    .title.title-big{
      font-size: 3em;
    }


    .ios.title.title-big{
      font-size: 1.5em;
    }


  }
}
