<ion-header>
  <ion-grid>
      <ion-row>
        <ion-col col-5>
          <!-- <span class="text-3x text-orange">RAPID</span> <span class="text-3x text-blue">PENANG</span> -->
          <img src="assets/images/logo.png">
        </ion-col>
        <ion-col col-2>
          <span class="text-2x-smaller text-primary">
            <ion-icon color="light" name="globe"></ion-icon>&nbsp;
            EN
          </span>
        </ion-col>
        <ion-col col-3>
          <div id="time" class="text-2x text-primary">
            <span>{{ whatTime | async | date:'jm' }}</span>
          </div>
          <div id="date" class="text-1x text-primary">
            <span>{{ whatTime | async | date:'yMMMd' }}</span>
          </div>
        </ion-col>
        <ion-col col-2>
          <span class="text-normal text-primary">
            <ion-icon color="light" name="cloudy-night"></ion-icon>&nbsp;
            28&deg;
          </span>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-header>

<ion-content padding>
  <div class="row">
    <div class="col">
        <div class="text-center">
            <h1 class="title title-big" color="primary">JOURNEY PLANNER</h1>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="text-center">
        <ion-item no-lines class="custom">
          <ion-label color="primary" stacked>&nbsp;You are now at </ion-label>
        </ion-item>
        <ion-item class="transparent custom">
          <!-- <ion-label color="primary" stacked>You are now at </ion-label> -->
          <ion-icon color="light" name="pin" item-right></ion-icon>
          <ion-input [disabled]=true type="text" (click)="setStartLocation()" [(ngModel)]="startAddress" placeholder="Location" class="big"></ion-input>

        </ion-item>
      </div>
    </div>
  </div>

  <div class="row" margin-top>
    <div class="col">
      <div>
        <ion-item class="custom" no-lines text-center ion-2x>
          <ion-icon color="light" name="arrow-down" class="text-4x"></ion-icon>
        </ion-item>
      </div>
    </div>
  </div>


  <div class="row margin-bottom">
    <div class="col bg-orange padding-0">
      <div class="text-center">
        <ion-item class="custom" no-lines>
          <!-- <ion-label color="primary" stacked>You are now at </ion-label> -->
          <ion-icon color="light" name="pin" item-right></ion-icon>
          <ion-input [disabled]=true type="text"  (click)="setEndLocation()" [(ngModel)]="endAddress" class="medium" placeholder="Your Destination"></ion-input>

        </ion-item>
      </div>
    </div>
  </div>


<div class="row bg-semi-transparent">
  <ion-grid>
    <ion-row class="padding-0">
      <ion-col col-4>
        <button ion-button icon-right full small class="padding-right-1">
          Leave Now&nbsp;
          <ion-checkbox [checked]="true"></ion-checkbox>
        </button>
      </ion-col>
      <ion-col col-4>
        <button ion-button icon-right full  small (click)="showDatePicker()">
          <span *ngIf="!selected">Change Time</span>
          <span *ngIf="selected">{{selectedDate | date: 'dd/MM/yyyy'}} {{selectedTime}}</span>
          <ion-icon name="calendar"></ion-icon>
        </button>



      </ion-col>
      <ion-col col-4>
        <button ion-button icon-right full small (click)="showPreference()"  class="padding-left-1">
          Preferrence
          <ion-icon name="options"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="padding-0">
      <ion-col col-6 class="padding-right-1">
        <button ion-button full large icon-right (click)="planJourneyClicked()" class="bg-orange text-white">
          PLAN MY JOURNEY
        </button>
      </ion-col>

      <ion-col col-6 class="padding-left-1">
        <button (click)="onGeneralInfoClicked()" ion-button full large icon-right class="bg-white text-orange">
          GENERAL INFO
          <ion-icon name="options"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>



<div class="row bg-semi-transparent margin-top">

  <ion-grid class="padding-0">
      <ion-row>
        <ion-col col-5>
          <ion-item class="custom">
            <ion-input type="text" placeholder="STOP ID"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col col-2 class="table">
          <span class="text-2x text-white table-cell">OR</span>
        </ion-col>

        <ion-col col-5>
          <ion-item class="custom">
            <ion-input type="text" placeholder="Route Name"></ion-input>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row class="padding-0 margin-top">
        <ion-col col-6 class="padding-right-1">
          <button (click)="viewETAClicked()" ion-button icon-right full large class="bg-white text-orange">
            VEHICLE ETA
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-col>

        <ion-col col-6 class="padding-left-1">
          <button (click)="viewStopsNearMeClicked()" ion-button icon-right full large class="bg-white text-orange">
            Stops Near Me
            <ion-icon name="bus"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
  </ion-grid>
</div>

</ion-content>


<!-- <ion-footer>
  <ion-grid>
      <ion-row>
        <ion-col col-6>
          <span class="text-2x text-orange">Looking For?</span>
        </ion-col>
        <ion-col col-6 text-right>
          <span class="text-2x text-primary">
            Local Guide
            <ion-icon color="light" name="information-circle"></ion-icon>&nbsp;
          </span>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-footer> -->
