// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
$primary-font:'Fjalla One', sans-serif;
ion-content{
    background: url("../assets/images/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    font-family: $primary-font;

    .item {
      background-color: transparent !important;
      input{
        color: $primary-text-color;
        font-size: 1em;
      }

      .input.big input{
        color: $primary-text-color;
        font-size: 2.5em;
      }

      .input.medium input{
        color: $primary-text-color;
        font-size: 1.5em;
      }




      ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color:    $primary-text-color;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
         color:    $primary-text-color;
         opacity:  1;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
         color:    $primary-text-color;
         opacity:  1;
      }
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
         color:    $primary-text-color;
      }
      ::-ms-input-placeholder { /* Microsoft Edge */
         color:    $primary-text-color;
      }

      .label{
        color:$primary-text-color;
        font-size: 1.5em;

      }

      .label.small{
        color:$primary-text-color;
        font-size: 0.2em;

      }



    }



}


//text-sizes
.text-1x{
  font-size:0.5em;
}

.text-2x{
  font-size:1em;
  text-height:1em;
}

.text-3x{
  font-size:1.5em;
}

.text-4x{
  font-size:2em;
}

.text-5x{
  font-size:2.5em;
}

.text-6x{
  font-size:3em;
}



//texts
.text-primary{
  color:$primary-text-color;
}

.text-secondary{
  color:color($colors, secondary, base);
}

.text-orange{
  color:color($colors, orange, base);
}

.text-white{
  color:color($colors, white, base);
}

.text-blue{
  color:color($colors, blue, base);
}


//background
ion-content.no-bgimage{
  background:none;
}
.bg-primary{
  background-color:$primary-text-color;
}

.bg-secondary{
  background-color:color($colors, secondary, base);
}

.bg-orange{
  background-color:color($colors, orange, base);
}

.bg-white{
  background-color:color($colors, white, base);
}

.bg-blue{
  background-color:color($colors, blue, base);
}

.bg-semi-transparent{
  background-color:rgba(255,255,255,0.3);
}

//opacity
.opacity-50{
  opacity: 0.5;
}


//padings
.padding-0{
  padding: 0;
}

.padding-10{
  padding: 10px;
}

.padding-16{
  padding: 16px;
}

//margins
.margin-top{
  margin-top: 16px;
}

.margin-bottom{
  margin-bottom: 16px;
}

.padding-left-1{
  padding-left: 1px;
}


.padding-right-1{
  padding-right: 1px;
}


.margin-large-bottom{
  margin-bottom: 32px;
}


.no-border{
  border: none;
}

.full-width{
  width: 100%;
}

.table{
  display: table;
  height: 52px;

  .table-cell{
    display: table-cell;
    vertical-align: middle;
  }
}



.ios{
  ion-content{
      .item {
        .input.medium input{
          font-size:1em;
        }
      }
  }
}

*{
  font-family: $primary-font;
}
