// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
/* latin-ext */
@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: local('Fjalla One'), local('FjallaOne-Regular'), url('../assets/fonts/FjallaOne-Regular.ttf') format('truetype');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: local('Fjalla One'), local('FjallaOne-Regular'), url('../assets/fonts/FjallaOne-Regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
$primary-font:'Fjalla One', sans-serif;
ion-content{
    background: url("../assets/images/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    font-family: $primary-font;

}


.item.custom {
  background-color: transparent !important;
  input{
    color: $primary-text-color;
    font-size: 2rem;
  }

  .input.big input{
    color: $primary-text-color;
    font-size: 3.5rem;
  }

  .input.medium input{
    color: $primary-text-color;
    font-size: 2.5rem;
  }




  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    $primary-text-color;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    $primary-text-color;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    $primary-text-color;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color:    $primary-text-color;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
     color:    $primary-text-color;
  }

  .label{
    color:$primary-text-color;
    font-size: 1.5rem;

  }

  .label.small{
    color:$primary-text-color;
    font-size: 0.2rem;

  }



}



//text-sizes
.text-1x{
  font-size:1rem;
}

.text-2x{
  font-size:2rem;
  text-height:2rem;
}

.text-2x-smaller{
  font-size:1.5rem;
  text-height:1.5rem;
}

.text-3x{
  font-size:3rem;
}

.text-4x{
  font-size:4rem;
}

.text-5x{
  font-size:5em;
}

.text-6x{
  font-size:6rem;
}



//texts
.text-primary{
  color:$primary-text-color;
}

.text-secondary{
  color:color($colors, secondary, base);
}

.text-orange{
  color:color($colors, orange, base);
}

.text-white{
  color:color($colors, white, base);
}

.text-blue{
  color:color($colors, blue, base);
}

.text-orange-bright{
  color:color($colors, brightorange, base);
}



//align
.text-align-left{
  text-align: left;
}



//background
ion-content.no-bgimage{
  background:none;
}
.bg-primary{
  background-color:color($colors, primary, base);
}

.bg-secondary{
  background-color:color($colors, secondary, base);
}

.bg-orange{
  background-color:color($colors, orange, base);
}

.bg-white{
  background-color:color($colors, white, base);
}

.bg-yellow{
  background-color:color($colors, yellow, base);
}

.bg-blue{
  background-color:color($colors, blue, base);
}

.bg-light-orange{
  background-color:color($colors, lightorange, base);
}

.bg-semi-transparent{
  background-color:rgba(255,255,255,0.3);
}

//opacity
.opacity-50{
  opacity: 0.5;
}


//padings
.padding-0{
  padding: 0;
}

.padding-5{
  padding: 5px;
}

.padding-10{
  padding: 10px;
}

.padding-16{
  padding: 16px;
}

.padding-bottom-16{
  padding-bottom: 16px;
}

//margins
.margin-top{
  margin-top: 16px;
}

.margin-bottom{
  margin-bottom: 16px;
}

.margin-bottom-1{
  margin-bottom: 1px;
}

.margin-bottom-5{
  margin-bottom: 5px;
}



.padding-left-1{
  padding-left: 1px;
}

.padding-left-16{
  padding-left: 16px;
}


.padding-right-1{
  padding-right: 1px;
}


.margin-large-bottom{
  margin-bottom: 32px;
}


.no-border{
  border: none;
}

.full-width{
  width: 100%!important;
}

.table{
  display: table;
  height: 52px;

  .table-cell{
    display: table-cell;
    vertical-align: middle;
  }
}


.waypoint {
    display: inline-block;
    left: -2px;
    vertical-align: top;
}

.waypoint .point {
  background: #FFF;
  width: 15px;
  height: 15px;
  float: left;
  position: relative;
  z-index: 2;
  border-radius: 50%;
  display: block;
  top: 2px;
  left: -7px;
}

.waypoint .inner-block {
  display: table;
  text-align: center;
  width: 100%;
}

.block{
  border-left: solid #005dab 8px;
}

.block.walk{
  border-left: dotted #fff 8px;
}

.inner-block{

  .logo{
    display: inline-block;
    .icon{
      float: left;
      padding: 3px;
    }

    .bus-no{
      display: table;
      span{
        display: table-cell;
        vertical-align: middle;
        padding: 3px;
      }
    }
  }
}

.time .duration{
    border-top: solid rgba(255,255,255,0.3) 1px;
    padding-top: 10px;
    margin-top: 20px;
}

.price{
    border-top: solid rgba(255,255,255,0.3) 1px;
    padding-top: 20px;
}



.align-center{
  margin: 0 auto;
}





.ios{
  //margin-top: 10px;
  page-home ion-header{
    margin-top:10px;
  }
}

*{
  font-family: $primary-font;
}
