page-progress {
  .content{
    background: #fff;
    margin-left: 8%;
    margin-right: 8%;
    width: 84%;
    max-height: 50%;
    display: block;
    overflow: scroll;
    margin-top:40%;
    padding: 20px;

  }
}
