page-preferencemodal {
  .content{
    background: #fff;
    margin-left: 8%;
    margin-right: 8%;
    width: 84%;
    height: auto;
    display: block;

  }

  .header{
    margin-top: 8%;
    margin-left: 8%;
    margin-right: 8%;
    width: 84%;
  }

}
